<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>970</real>
      <key>name</key>
      <string>Limit Top</string>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>687</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-10</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-158</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>830</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-260</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>757</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>780</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>22</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>230</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>857</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>651</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>540</real>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>A</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>B</string>
    <string>C</string>
    <string>CR</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Ddotbelow</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Edotbelow</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eng</string>
    <string>Eogonek</string>
    <string>Eth</string>
    <string>Etilde</string>
    <string>Euro</string>
    <string>Euro.tnum</string>
    <string>F</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
    <string>H</string>
    <string>Hbar</string>
    <string>Hcircumflex</string>
    <string>Hdotbelow</string>
    <string>I</string>
    <string>IJ</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Idotbelow</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>M</string>
    <string>N</string>
    <string>NULL</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ndotaccent</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Odotbelow</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oogonek</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>Rdotbelow</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Schwa</string>
    <string>Scircumflex</string>
    <string>Sdotbelow</string>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tdotbelow</string>
    <string>Thorn</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Udotbelow</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>Ytilde</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>Zdotbelow</string>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>acute</string>
    <string>acute.cap</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>aeacute</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>ampersand</string>
    <string>aogonek</string>
    <string>apostrophe</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>asterisk</string>
    <string>at</string>
    <string>atilde</string>
    <string>b</string>
    <string>backslash</string>
    <string>bar</string>
    <string>bar.tnum</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>breve</string>
    <string>breve.cap</string>
    <string>brokenbar</string>
    <string>bullet</string>
    <string>c</string>
    <string>c_t</string>
    <string>cacute</string>
    <string>caron</string>
    <string>caron.alt</string>
    <string>caron.cap</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>cedilla</string>
    <string>cent</string>
    <string>cent.tnum</string>
    <string>circumflex</string>
    <string>circumflex.cap</string>
    <string>colon</string>
    <string>colon.tnum</string>
    <string>comma</string>
    <string>comma.tnum</string>
    <string>commaaccent</string>
    <string>copyright</string>
    <string>currency</string>
    <string>d</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>ddotbelow</string>
    <string>degree</string>
    <string>degree.tnum</string>
    <string>dieresis</string>
    <string>dieresis.cap</string>
    <string>divide</string>
    <string>divide.tnum</string>
    <string>dollar</string>
    <string>dollar.tnum</string>
    <string>dotaccent</string>
    <string>dotaccent.cap</string>
    <string>dotbelow</string>
    <string>dotlessi</string>
    <string>dotlessj</string>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>edotbelow</string>
    <string>egrave</string>
    <string>eight</string>
    <string>eight.denominator</string>
    <string>eight.numerator</string>
    <string>eight.oldstyle</string>
    <string>eight.tnum</string>
    <string>eightinferior</string>
    <string>eightsuperior</string>
    <string>ellipsis</string>
    <string>emacron</string>
    <string>emdash</string>
    <string>endash</string>
    <string>eng</string>
    <string>eogonek</string>
    <string>equal</string>
    <string>equal.tnum</string>
    <string>eth</string>
    <string>etilde</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>f</string>
    <string>f_b</string>
    <string>f_f</string>
    <string>f_f_b</string>
    <string>f_f_h</string>
    <string>f_f_i</string>
    <string>f_f_j</string>
    <string>f_f_k</string>
    <string>f_f_l</string>
    <string>f_f_t</string>
    <string>f_h</string>
    <string>f_i</string>
    <string>f_j</string>
    <string>f_k</string>
    <string>f_l</string>
    <string>f_t</string>
    <string>five</string>
    <string>five.denominator</string>
    <string>five.numerator</string>
    <string>five.oldstyle</string>
    <string>five.tnum</string>
    <string>fiveeighths</string>
    <string>fiveinferior</string>
    <string>fivesuperior</string>
    <string>florin</string>
    <string>four</string>
    <string>four.denominator</string>
    <string>four.numerator</string>
    <string>four.oldstyle</string>
    <string>four.tnum</string>
    <string>fourinferior</string>
    <string>foursuperior</string>
    <string>fraction</string>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
    <string>germandbls</string>
    <string>grave</string>
    <string>grave.cap</string>
    <string>greater</string>
    <string>greater.tnum</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>h</string>
    <string>hbar</string>
    <string>hcircumflex</string>
    <string>hdotbelow</string>
    <string>hungarumlaut</string>
    <string>hungarumlaut.cap</string>
    <string>hyphen</string>
    <string>i</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>idotbelow</string>
    <string>igrave</string>
    <string>ij</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>itilde</string>
    <string>j</string>
    <string>jcircumflex</string>
    <string>k</string>
    <string>kcommaaccent</string>
    <string>kgreenlandic</string>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>ldot</string>
    <string>less</string>
    <string>less.tnum</string>
    <string>logicalnot</string>
    <string>lslash</string>
    <string>m</string>
    <string>macron</string>
    <string>macron.cap</string>
    <string>minus</string>
    <string>minus.tnum</string>
    <string>mu</string>
    <string>multiply</string>
    <string>multiply.tnum</string>
    <string>n</string>
    <string>nacute</string>
    <string>napostrophe</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ndotaccent</string>
    <string>nine</string>
    <string>nine.denominator</string>
    <string>nine.numerator</string>
    <string>nine.oldstyle</string>
    <string>nine.tnum</string>
    <string>nineinferior</string>
    <string>ninesuperior</string>
    <string>ntilde</string>
    <string>numbersign</string>
    <string>numbersign.tnum</string>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>odotbelow</string>
    <string>oe</string>
    <string>ogonek</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>one</string>
    <string>one.denominator</string>
    <string>one.numerator</string>
    <string>one.oldstyle</string>
    <string>one.tnum</string>
    <string>oneeighth</string>
    <string>onehalf</string>
    <string>oneinferior</string>
    <string>onequarter</string>
    <string>onesuperior</string>
    <string>onethird</string>
    <string>oogonek</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>oslash</string>
    <string>oslashacute</string>
    <string>otilde</string>
    <string>p</string>
    <string>paragraph</string>
    <string>paragraph.tnum</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>percent</string>
    <string>percent.tnum</string>
    <string>period</string>
    <string>period.tnum</string>
    <string>periodcentered</string>
    <string>periodcentered.tnum</string>
    <string>perthousand</string>
    <string>plus</string>
    <string>plus.tnum</string>
    <string>plusminus</string>
    <string>plusminus.tnum</string>
    <string>q</string>
    <string>question</string>
    <string>questiondown</string>
    <string>quotedbl</string>
    <string>quotedbl.tnum</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotesingle</string>
    <string>quotesingle.tnum</string>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
    <string>rdotbelow</string>
    <string>registered</string>
    <string>ring</string>
    <string>ring.cap</string>
    <string>s</string>
    <string>s_t</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>schwa</string>
    <string>scircumflex</string>
    <string>sdotbelow</string>
    <string>section</string>
    <string>section.tnum</string>
    <string>semicolon</string>
    <string>semicolon.tnum</string>
    <string>servicemark</string>
    <string>seven</string>
    <string>seven.denominator</string>
    <string>seven.numerator</string>
    <string>seven.oldstyle</string>
    <string>seven.tnum</string>
    <string>seveneighths</string>
    <string>seveninferior</string>
    <string>sevensuperior</string>
    <string>six</string>
    <string>six.denominator</string>
    <string>six.numerator</string>
    <string>six.oldstyle</string>
    <string>six.tnum</string>
    <string>sixinferior</string>
    <string>sixsuperior</string>
    <string>slash</string>
    <string>slash.tnum</string>
    <string>space</string>
    <string>sterling</string>
    <string>sterling.tnum</string>
    <string>t</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>tdotbelow</string>
    <string>thorn</string>
    <string>three</string>
    <string>three.denominator</string>
    <string>three.numerator</string>
    <string>three.oldstyle</string>
    <string>three.tnum</string>
    <string>threeeighths</string>
    <string>threeinferior</string>
    <string>threequarters</string>
    <string>threesuperior</string>
    <string>tilde</string>
    <string>tilde.cap</string>
    <string>trademark</string>
    <string>two</string>
    <string>two.denominator</string>
    <string>two.numerator</string>
    <string>two.oldstyle</string>
    <string>two.tnum</string>
    <string>twoinferior</string>
    <string>twosuperior</string>
    <string>twothirds</string>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>udotbelow</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>underscore</string>
    <string>underscore.tnum</string>
    <string>uni00A0</string>
    <string>uni00AD</string>
    <string>uni015E</string>
    <string>uni015F</string>
    <string>uni0162</string>
    <string>uni0163</string>
    <string>uni01C4</string>
    <string>uni01C5</string>
    <string>uni01C6</string>
    <string>uni01C7</string>
    <string>uni01C8</string>
    <string>uni01C9</string>
    <string>uni01CA</string>
    <string>uni01CB</string>
    <string>uni01CC</string>
    <string>uni01F1</string>
    <string>uni01F2</string>
    <string>uni01F3</string>
    <string>uni0218</string>
    <string>uni0219</string>
    <string>uni021A</string>
    <string>uni021B</string>
    <string>uni03BC</string>
    <string>uni2215</string>
    <string>uni2219</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>utilde</string>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>x</string>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>yen</string>
    <string>yen.tnum</string>
    <string>ygrave</string>
    <string>ytilde</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>zdotbelow</string>
    <string>zero</string>
    <string>zero.denominator</string>
    <string>zero.numerator</string>
    <string>zero.oldstyle</string>
    <string>zero.tnum</string>
    <string>zeroinferior</string>
    <string>zerosuperior</string>
  </array>
</dict>
</plist>
